{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% set pageTitle = ("Error: " if error else "") + "Enter the password" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: "The password is not correct", href: "#password" }]
        }) }}
      {% endif %}

      <form method="post" action="/password" novalidate>
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">

        {{ govukPasswordInput({
          label: {
            text: "Enter the password",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "This is a test site. Ask the team for the password." },
          errorMessage: { text: "The password is not correct" } if error else false,
          id: "password",
          name: "password"
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
