{% extends "journey/layout.njk" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = "Your answers so far" %}

{% block page %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Company" },
        value: { text: company.name + " (" + company.number + ")" },
        actions: { items: [{ href: "/business-name", text: "Change", visuallyHiddenText: "company" }] }
      },
      {
        key: { text: "Funding area" },
        value: { text: area.localAuthority + " (" + area.postcode + ")" },
        actions: { items: [{ href: areaChangeLink, text: "Change", visuallyHiddenText: "funding area" }] }
      }
    ]
  }) }}

  {{ govukInsetText({ text: "The rest of the questions have not been built yet." }) }}
{% endblock %}
