{% extends "journey/layout.njk" %}

{% set title = "Check your answers" %}

{% block page %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ govukSummaryList({ rows: rows }) }}

  {{ govukButton({ text: "Show funding options", href: "/results" }) }}
{% endblock %}
