{% extends "journey/layout.njk" %}

{% block page %}
  <form method="post" action="{{ action }}" novalidate>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {{ govukInput({
      label: { text: label, classes: "govuk-label--s" },
      hint: { text: "For example, SW1A 1AA" },
      id: "postcode",
      name: "postcode",
      value: value,
      classes: "govuk-input--width-10",
      autocomplete: "postal-code",
      spellcheck: false,
      errorMessage: error and { text: error.text }
    }) }}

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
